@import "./header.css";
@import "./news.css";
@import "./members.css";
@import "./prices.css";
@import "./license.css";
@import "./contacts.css";
@import "./footer.css";
@import "./swiper.css";
@import "./globalSettings/burgermenu.css";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

/* Параметры для привязки footer к странице */
.root {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 100%;
}

/* Центрируем весь контент */
.center {
    padding-left: calc(50% - 1440px / 2);
    padding-right: calc(50% - 1440px / 2);
}

.aboutus-block {
    padding-top: 80px;
    padding-bottom: 80px;
}

.aboutus-block__text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.aboutus-block__title {
    text-align: center;
    max-width: 800px;
    font-size: 42px;
    font-weight: 700;
}

.aboutus-block__subtitle {
    text-align: center;
    max-width: 700px;
    line-height: 1.24em;
    font-size: 24px;
}

.aboutus-block__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 40px;
}

.aboutus-block__card {
    display: flex;
    padding: 10px 5px;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.aboutus-block__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.aboutus-card__image {
    width: 400px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.aboutus-card__img {
    width: 500px;
    height: 100%;
    transition: transform 0.3s;
}

.aboutus-block__card:hover .aboutus-card__img {
    transform: scale(1.05);
}

.aboutus-card__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    padding: 20px;
}

.aboutus-card__text-content {
    flex-grow: 1;
    padding: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.aboutus-card__subtitle {
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}

.aboutus-card__title {
    color: #888;
}

.aboutus-card__item {
    margin-bottom: 10px;
}

.aboutus-card__item:last-child {
    margin-bottom: 0;
}

.warning::before {
    content: "ВАЖНО!";
    font-weight: 700;
}

.sign-background {
    height: 550px;
    background-image: url(../images/jpg/sign.jpg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.sign-text__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgba(54, 54, 54, 0.295);
    color: #fff;
    padding-top: 80px;
    gap: 40px;
}

.sign-text__block>.aboutus-block__title {
    text-shadow: 0px 0px 3px #000;
}


.sign-text__block>.aboutus-block__subtitle {
    text-shadow: 0px 0px 3px #000;
}


.sign-text__block>.header-button {
    background-color: #3d3d3d;
    padding: 10px 10px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    text-transform: uppercase;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4242425e;
    text-shadow: 0px 0px 3px #000;
    color: #fff;
    border: 2px solid #ffa600;
    border-radius: 3px;
    cursor: pointer;
    transition: border .2s ease-in-out;
}

#scrollToTopBtn:focus {
    border: 2px solid #69bcff;
}

@media (max-width: 1435px) {
    .news-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1027px) {

    .aboutus-block__cards,
    .header-block {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-navigation {
        display: none;
    }

    .header-burger__menu {
        display: block;
    }
}

@media (max-width: 872px) {
    .header-list {
        flex-direction: column;
        padding: 10px 10px;
    }
}

@media (max-width: 768px) {
    .footer-block {
        flex-direction: column;
        justify-content: center;
    }

    .footer-text__content {
        text-align: center;
    }

    .members-block {
        padding-left: 10px;
        padding-right: 10px;
    }

    .myLicense {
        width: 400px;
    }
}

@media (min-width: 494px) and (max-width: 687px) {
    .swiper-slide__profile img {
        width: 40%;
    }
}

@media (max-width: 494px) {
    .aboutus-block__title {
        font-size: 36px;
    }

    .aboutus-block__subtitle {
        font-size: 18px;
    }

    .aboutus-block__card {
        flex-direction: column;
        width: -webkit-fill-available;
    }

    .aboutus-card__image,
    .news-image__block {
        width: -webkit-fill-available;
    }

    .members,
    .members-text__content,
    .members-text__intro,
    .sign-text__block,
    .news-block {
        padding-left: 10px;
        padding-right: 10px;
    }

    .members-profile__buttons-container {
        gap: 10px;
    }

    .members-profile__title {
        font-size: 16px;
    }

    .members-profile__subtitle {
        font-size: 15px;
    }

    .members-profile__button,
    .members-profile__desc {
        font-size: 14px;
    }

    .swiper-slide__profile img {
        height: 550px;
    }

    /* .membersSwiper {
        height: 100vh;
    } */

    .myExp {
        width: 395px;
    }

    .contacts-block__map-yandex {
        width: 350px;
        height: 250px;
    }
}

@media (max-width: 375px) {
    .aboutus-block__title {
        font-size: 20px;
    }

    .aboutus-block__subtitle {
        font-size: 16px;
    }

    .footer-block {
        justify-content: center;
    }

    .footer-text__content {
        text-align: center;
    }

    .footer-text {
        font-size: 14px;
    }

    .footer-location__content>div>iframe {
        width: 260px !important;
    }

    .myLicense,
    .myAwards {
        width: 285px;
    }

    .contacts-block__map-yandex {
        width: 300px;
        height: 250px;
    }
}